// .main-body{
//     // display: flex;
//     // width: 100%;
//     // justify-content: center;
// }

app-sidebar
{
    width: 18%;
    background-color: #04327C;
    margin-top: -10px;
    height: 100%;
    min-height: 500px;
}