.marketing{
    padding: 50px;
}
img{
    height: 200px;
    width: 100%;
padding: 20px;
    object-fit: contain;
}
.btn-viewMore{
    margin: auto;
    color: #04327C;
        display: flex;
        /* padding: initial; */
        justify-content: center;
}